<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>

        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </property> 

        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
        <!-- Aquí también usar localhost u otro de eso de que no hay que usar localhost sino otra IP?-->
        <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/reachtdb?zeroDateTimeBehavior=convertToNull </property>
        <property name="hibernate.connection.username"> root </property>
        <property name="hibernate.connection.password"> 1234 </property>

        <!-- Configuración de algunos parámetros de Hibernate-->
        <!-- Este hace que puedas VER por consola la sentencia SQL que hibernate usa al ejecutarlo -->
        <property name="hibernate.show_sql">true</property>

        <!-- <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property> -->

        <!-- Clases con anotaciones -->
        <mapping class="flores.caro.model.entities.Chat"/>
        <mapping class="flores.caro.model.entities.Language"/>
        <mapping class="flores.caro.model.entities.Message"/>
        <mapping class="flores.caro.model.entities.Offer"/>
        <mapping class="flores.caro.model.entities.User"/>
        <mapping class="flores.caro.model.entities.Videogame"/>
    </session-factory>
</hibernate-configuration>
